<div id="ds-progress-wrap">
    <span class="ds-progress-bar" style="width: 1%;" id="ds-progress-bar"><span></span></span>
</div>
<header id="ds-header" class="header-global">
    <nav id="navbar-main" class="ds-single-nav navbar navbar-main navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
                <img src="/Content/images/white-logo-dark-sm.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">

                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="ds-primary-nav navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">

                        @Html.ActionLink("Blog", "Index", "Blog", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"}) <i class="ni ni-collection d-lg-none"></i>
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        @*@Html.Partial("_DropDownLarge")*@
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"}) <i class="ni ni-collection d-lg-none"></i>
                        <i class="ni ni-collection d-lg-none"></i>
                        @Html.Partial("_DropDownSmall")
                    </li>
                    <li class="nav-item dropdown">
                        @Html.ActionLink("Projects", "Projects", "Home", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"}) <i class="ni ni-collection d-lg-none"></i>
                        <i class="ni ni-collection d-lg-none"></i>
                    </li>

                </ul>

                <ul class="ds-primary-nav navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                            <span class="nav-link-inner--text d-lg-none">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                            <i class="fa fa-linkedin"></i>
                            <span class="nav-link-inner--text d-lg-none">Linked In</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
                            <i class="fa fa-github"></i>
                            <span class="nav-link-inner--text d-lg-none">Github</span>
                        </a>
                    </li>
                </ul>

            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</header>
