<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body>
    @Html.Partial("_StaticHeader")

    <div id="ds-body" class="container-fluid body-content">
        <div class="row">
            <div class="col-md-12 ds-no-padding">
                @RenderBody()
            </div>
        </div>
    </div>

    @Html.Partial("_Footer")
    @RenderSection("scripts", required: false)
</body>
</html>
