@model Showcase.Helpers.CheckboxList

@if (Model.List != null)
{
    <ul class="ds-checkbox-list @Model.CssClasses ">

        @foreach (var item in Model.List)
        {
            <li>
                @{
                    string label = item.Text;
                }
                <div class="row">
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input ds-check-input" type="checkbox" name="@Model.PropertyName" value="@item.Value" @(item.Selected ? "checked" : "")/>
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <p class="s-checkbox-label">@label</p>
                    </div>
                </div>
            </li>
        }
    </ul>
}


