<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
    <body>
        @Html.Partial("_Header")

            <div class="container-fluid body-content">
                <div class="row">
                    <div class="col-md-3">
                        @Html.Partial("_SideMenu")
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        <hr />

        @Html.Partial("_Footer")
        @RenderSection("scripts", required: false)
    </body>
</html>
