@model Showcase.Models.Comment

@using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post, new { @class = "ds-comment-form ds-admin-form ds-reply-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.AuthorId)
    @Html.HiddenFor(model => model.ParentCommentId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="ds-new-comment-wrap" class="comment">
        <div class="comment-body">
            <div class="comment-author">
                <img alt="" src="~/Content/images/author.jpg" class="avatar avatar-32 photo" height="32" width="32">
                <cite class="fn">
                    <a href="" rel="external nofollow" class="url">Nate Johnson</a>
                </cite>
                <span class="says">says:</span>
            </div>

            <div class="comment-meta">
                @DateTime.Now.ToString()
            </div>
        </div>

        @Html.EditorFor(model => model.CommentContent, new { htmlAttributes = new { @class = "new-comment" } })
        @Html.ValidationMessageFor(model => model.CommentContent, "", new { @class = "text-danger" })
    
        <div class="ds-submit-wrap">
            <input type="submit" id="ds-create-comment" value="Submit" class="genric-btn primary-border">
        </div>
    </div>

}

