@model IEnumerable<Showcase.Models.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row ds-title-row">
    <div class="col-sm-1">
        <h2 class="ds-admin-title">Index</h2>
    </div>
    <div class="col-sm-11">
        <button class="ds-create-btn">
            @Html.ActionLink("Create New", "Create")
        </button>
    </div>

    @Html.Partial("_StatusMessage", TempData["StatusMessage"])

</div>

<table id="ShowcaseDataTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }
    </tbody>
</table>