<!DOCTYPE html>
<html lang="en">

@Html.Partial("_AdminHead")

<body id="ds-admin-body">
    <div class="wrapper ds-admin-wrapper">
        @Html.Partial("_AdminSidebar")
        <div class="main-panel">
            @Html.Partial("_AdminNavigation")
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_AdminFooter")
        </div>
    </div>
</body>
</html>
<!--   Core JS Files   -->
@Scripts.Render("~/bundles/bootstraplight")

<script type="text/javascript">
    var title = '@ViewBag.Title';
    var titleArea = document.getElementById('ds-admin-title');
    titleArea.innerText = title;

    $('#ds-dashboard').addClass('active');
</script>