<!DOCTYPE html>
<html lang="en">

@Html.Partial("_AdminHead")

<body id="s-admin-body">
    <div class="wrapper ds-admin-wrapper">
        @Html.Partial("_AdminSidebar")
        <div class="main-panel">
            @Html.Partial("_AdminNavigation")
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body-lg">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_AdminFooter")
        </div>
    </div>
</body>
</html>
<!--   Core JS Files   -->
@Scripts.Render("~/bundles/bootstraplight")
@Scripts.Render("~/bundles/jquery")

<!--tinymce Editor -->
<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>

<!-- Responsive Data Tables -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#ShowcaseDataTable').length > 0) {
            $('#ShowcaseDataTable').DataTable({
                "dom": '<"top"irf>t<"bottom"lp><"clear">',
                "info": false,
                "responsive":false,
                "paging": true,
                "searching": true,
                "ordering": true       
            });
            }
        });
</script>

<script>
  tinymce.init({
    selector: '#ShowcaseEditor'
  });
</script>

<script type="text/javascript">
    var title = '@ViewBag.Title';
    var titleArea = document.getElementById('ds-admin-title');
    titleArea.innerText = title;

    var url = '@Request.Url';
    var checkUrl = url.toLowerCase();
    var linkArray = ["dashboard", "authors", "posts", "categories", "projects", "workouts", "albums", "tasks"];

    for (i = 0; i < linkArray.length; i++) {
        if (checkUrl.indexOf(linkArray[i]) != -1) {
            var linkName = linkArray[i];
            var linkSelector = '#ds-' + linkName;
            $(linkSelector).addClass('active');
        }      
    }
</script>

<script type="text/javascript">
        $("#ds-workout-date").datepicker({ dateFormat: 'mm/dd/yy' });
        $('.clockpicker').clockpicker({
            donetext: 'Done'
        });
</script>

@RenderSection("Scripts", false)