@using Microsoft.AspNet.Identity
@using Showcase.Helpers
@model Showcase.Models.Post

@{
    Layout = "~/Views/Shared/_PostLayout.cshtml";
    string imageUrl = "";
    string postDate = Model.LastModified?.Date.ToString("MMMM dd, yyyy");
    int postId = Model.PostId;
    int commentAuthorId = 0;

    if (User.Identity.IsAuthenticated)
    {
        commentAuthorId = Convert.ToInt32(User.Identity.GetAuthorId());
    }


    if (Model?.PostImage != null)
    {
        imageUrl = "data:image/png;base64," + Convert.ToBase64String(Model.PostImage);
    }
}

<section id="ds-left-title">
    <div class="container">
        <div class="ds-blog-card ds-left-title-wrap">
            <div class="ds-author-details h6 font-weight-300">
                @Html.Partial("_AuthorBoxLeft")
            </div>
            <h1 class="ds-post-title">
                @Model.PostName
            </h1>
        </div>
    </div>
</section>

<main class="ds-post-page">
    <section class="section-profile-cover section-shaped my-0">
        <div class="ds-img-shade">
        </div>
        <!-- Circles background -->
        <div class="shape shape-style-1 alpha-4" style="background-image: url(@imageUrl)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <!-- Start content section -->
    <section id="ds-blog-content" class="ds-post-content">
        <div class="container ds-content-container">
            <div class="py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-sm-12 col-xs-12">
                        <h2 class="ds-published-date border-bottom py-5"><span class="lnr lnr-calendar-full"></span> Published @postDate</h2>
                        <p class="ds-post-text">
                            @Html.Raw(HttpUtility.HtmlDecode(Model?.PostContent))
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ds-comment-box">
        <div class="ds-comment-wrap">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 col-md-12">
                        <div class="ds-comment-entry">
                            <h2 class="ds-subtitle ds-comment-title"><span class="lnr lnr-bubble"></span> Comments</h2>
                            <p class="ds-response-title">
                                One response to “@Model.PostName”
                            </p>

                            <div id="ds-comment-list">
                                @{ Html.RenderAction("_CommentBox", "Comment", new {postId = Model.PostId}); }
                            </div>
                                
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="comment-respond">
                                    <p class="ds-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="" style="display:none;">Cancel reply</a></small></p>
                                    <p class="must-log-in">You must be @Html.ActionLink("logged in", "Login", "Account", null, new { @class = "ds-login-link" })
                                        to post a comment.</p>
                                </div>
                            }
                            else
                            {
                                Html.RenderAction("_NewComment", "Comment", new { postId = Model.PostId, authorId = commentAuthorId });
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<input type="hidden" name="PostId" id="ds-commentPostId" value="@postId"/>

@section Scripts {

    <script type="text/javascript">
        var createCommentUrl = '@Url.Action("CreateComment", "Comment")';
        var getCommentsUrl = '@Url.Action("_CommentBox", "Comment", new {postId = Model.PostId})';
        var newReplyUrl = '@Url.Action("_NewReply", "Comment")';

        $(document).keypress(function(e)
        {
            if(e.keyCode === 13)
            {
                e.preventDefault();
                return false;
            }
        });
    </script>
}