@model IEnumerable<Showcase.Models.Post>
@{
    ViewBag.Title = "Posts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row ds-title-row">
    <div class="col-sm-1">
        <h2 class="ds-admin-title">Index</h2>
    </div>
    <div class="col-sm-11">
        <button class="ds-create-btn">
            @Html.ActionLink("Create New", "Create")
        </button>
    </div>
    
    @Html.Partial("_StatusMessage", TempData["StatusMessage"])
    
</div>

<table id="ShowcaseDataTable" class="table responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Post Name")
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                </td>
            </tr>
        }
    </tbody>
</table>