@model IEnumerable<Showcase.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row ds-title-row">
    <div class="col-sm-1">
        <h2 class="ds-admin-title">Index</h2>
    </div>
    <div class="col-sm-11">
        <button class="ds-create-btn">
            @Html.ActionLink("Create New", "Create")
        </button>
    </div>

    @Html.Partial("_StatusMessage", TempData["StatusMessage"])

</div>
<table id="ShowcaseDataTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCommentId)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCommentId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
            </td>
        </tr>
    }

</table>
